$footerBottom : 0px;
$color1: #7f7fd5;

@mixin headStyle($alignCenter, $dropShadow) {
    text-align: $alignCenter;
    &:hover{
        filter: $dropShadow;
    }
}

@mixin bc-image($image) {
    background-image: url("../icons/" + $image + ".png");
}

footer{
    @include headStyle(center, drop-shadow(-1px 0px 6px #102ab1));
    height: 140px;
    background: radial-gradient(ellipse at top, #c3e5fc, transparent);
    margin-top: 250px;
}

.h2_foot{
    margin-bottom: $footerBottom;
    color: $color1;
}

.url_social {
    display: flex;
    justify-content: space-between;
}

.codepen {
    @include bc-image(code)
}