$color1: #7f7fd5;
$background: white;

header {
    color: $color1;
    background-color: $background;
    text-transform: uppercase;
    font-size: 4em;
    font-weight: 100;
    font-size: larger;
    text-align: center;
}

